.text-muted p {
    margin: 0;
}
.list-group-item {
    margin-bottom: 1rem;
}
[v-cloak] {
    display: none;
}
.video-link {
    word-wrap: break-word;
    white-space: normal;
    word-break: break-all;
}