<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HSServer{% endblock %}</title>
    <link href="/static/bootstrap.min.css?v=5.3.3" rel="stylesheet">
    <link href="/static/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <script src="/static/vue.min.js?v=2.6.14"></script>
</head>

<body class="p-2">
    <nav class="navbar navbar-expand-sm mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">HSServer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/library">Library</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bookmarks">Bookmarks</a>
                    </li>
                </ul>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="theme-toggle">
                    <label class="form-check-label" for="theme-toggle">Dark Mode</label>
                </div>
            </div>
        </div>
    </nav>

    <div id="app" v-cloak class="container">
        {% block content %}{% endblock %}
    </div>

    <button id="scroll-to-top" class="fs-2 btn btn-info position-fixed bottom-0 end-0 m-3 rounded-circle d-none shadow d-flex align-items-center justify-content-center" title="Scroll to top">
        <i class="bi bi-arrow-up-short"></i>
    </button>

    <div aria-live="polite" aria-atomic="true" class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 1100;">
        <div id="serverResultToast" class="toast bg-info-subtle" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
            <div class="toast-header">
                <strong class="me-auto">Message</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <span id="serverResultMessage"></span>
            </div>
        </div>
    </div>

    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="videoModalLabel">Video Player</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="videoModalBody">
            <!-- Video player and iframe will be inserted here -->
          </div>
        </div>
      </div>
    </div>

    <script src="/static/bootstrap.bundle.min.js?v=5.3.3"></script>
    <script src="/static/global.js"></script>
</body>

</html>
