{% extends "base.html" %}

{% block title %}HSServer - Home{% endblock %}

{% block content %}
    {% include "components/similarity_modal.html" %}
    {% include "components/server_info.html" %}
    {% include "components/filter.html" %}

    <div class="w-100 d-flex gap-2 align-items-center flex-row p-2">
        <div class="form-floating flex-grow-1">
            <input id="videoInput" type="text" v-model="videoUrl" placeholder="video URL" class="form-control" @keyup.enter="postVideoUrl(false)">
            <label class="text-muted" for="videoInput">Video URL...</label>
            <button v-if="videoUrl" class="btn btn-outline-secondary bg-transparent border-0 position-absolute end-0 top-0 h-100" type="button" @click="videoUrl = ''"><i class="bi bi-x"></i></button>
        </div>
        <div class="">
            <button @click="postVideoUrl(false)" class="btn btn-sm btn-outline-primary">Download</button>
            <button @click="postVideoUrl(true)" class="btn btn-sm btn-outline-success">Stream</button>
        </div>
    </div>

    {% include "components/loading.html" %}
    {% with option_move = true, option_download = true, show_progress = true %}
    {% include "components/list_files.html" %}
    {% endwith %}
    {% include "components/page_functions.html" %}

    <script type="module" src="/static/index.js"></script>

{% endblock %}
