{% extends "base.html" %}

{% block title %}HSServer - Home{% endblock %}

{% block content %}
    <div class="modal fade" id="thumbnailModal" tabindex="-1" aria-labelledby="thumbnailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="thumbnailModalLabel">Thumbnail</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <img :src="currentThumbnail" alt="Thumbnail" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    {% include "components/server_info.html" %}
    <div class="row mb-1">
        <div class="input-group mb-2">
            <input type="text" v-model="videoUrl" placeholder="Enter video URL to download..." class="form-control">
            <div class="input-group-append">
                <button @click="postVideoUrl" class="btn btn-primary">Download</button>
            </div>
        </div>
    </div>
    {% include "components/filter.html" %}

    {% include "components/loading.html" %}
    <div v-else>
        <div v-if="filteredFiles.length === 0" class="card-body text-center">No Files present</div>
        {% include "components/paging.html" %}
        <ul class="list-group list-group-flush">
            <li v-for="file in filteredFiles" :key="file.filename" class="list-group-item mb-2 border-1">
                <div class="d-flex align-items-center">
                    {% with option_move = true, option_download = true %}
                    {% include "components/video_infos.html" %}
                    {% endwith %}
                    <div v-if="getProgressForId(file.url_id) > 0" class="progress">
                        <div class="progress-bar" role="progressbar" :style="{ width: getProgressForId(file.url_id) + '%' }" :aria-valuenow="getProgressForId(file.url_id)" aria-valuemin="0" aria-valuemax="100">Download Progress: {{ getProgressForId(file.url_id) }}%</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="text-center mt-4">
        <a href="#" @click.prevent="cleanup" class="btn btn-warning">Cleanup Server tracked Map</a>
        <a href="#" @click.prevent="generateThumbnails()" class="btn btn-secondary ms-2">Generate Thumbnails</a>
        <a href="#" @click.prevent="fetchFiles()" class="btn btn-secondary ms-2">Reload files</a>
    </div>
    {% include "components/server_result.html" %}

    <script type="module" src="/static/index.js"></script>

{% endblock %}
