{% raw %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HSServer</title>
    <link href="/static/bootstrap.min.css?v=5.3.3" rel="stylesheet">
    <script src="/static/vue.min.js?v=2.6.14"></script>
    <style>
        .text-muted p {
            margin: 0;
        }
    </style>
</head>

<body class="bg-light p-2">
    <div id="app" class="container">
        <div class="row mb-4">
            <div class="col">
                <input type="text" v-model="filter" placeholder="Filter files..."
                    class="mb-4 form-control">

                <div class="input-group mb-4">
                    <input type="text" v-model="videoUrl" placeholder="Enter video URL to download..."
                        class="form-control">
                    <div class="input-group-append">
                        <button @click="postVideoUrl" class="btn btn-primary">Download</button>
                    </div>
                </div>
            </div>

            <div class="col p-2">
                <h2 class="h6">Server Information</h2>
                <textarea v-model="serverOutput" class="form-control" rows="3" readonly></textarea>
            </div>
        </div>

        <div class="card">
            <div v-if="loading" class="card-body text-center">
                Loading...
                <div class="d-flex justify-content-center align-items-center" style="min-height: 140px;">
                    <div class="spinner-border text-secondary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            <div v-else>
                <div v-if="filteredFiles.length === 0" class="card-body text-center">No Files present</div>
                <ul class="list-group list-group-flush">
                    <li v-for="file in filteredFiles" :key="file.filename" class="list-group-item">
                        <div class="fw-bold h5"><a class="text-primary" :href="file.filename">{{ file.title }}</a></div>
                        <div class="text-muted">
                            <p v-if="file.yt_id" class="text-info"><a :href="'https://youtube.com/watch?v=' + file.yt_id">YouTube Link</a></p>
                            <p>Size: {{ file.filesize }}</p>
                            <p>Created: {{ formatDate(file.created) }}</p>
                        </div>
                        <div v-if="file.partial" class="partial bg-danger text-white d-inline-block p-2 mt-2">partial</div>
                        <button v-if="file.orig_link" class="btn btn-primary btn-sm" @click="redownload(file.orig_link)">{{ file.url_id }}. Trigger Download again</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

<script>
    new Vue({
        el: '#app',
        data: {
            files: [],
            filter: '',
            videoUrl: '',
            loading: false,
            currentSort: 'created',
            currentSortDir: 'desc',
            serverOutput: ''
        },
        methods: {
            redownload: function (url) {
                this.videoUrl = url;
                this.postVideoUrl();
            },
            fetchFiles: function () {
                this.loading = true;
                fetch('/api/list')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        this.files = data;
                        this.loading = false;
                    })
                    .catch(error => {
                        console.error('There was an error fetching the files:', error);
                        this.loading = false;
                    });
            },
            postVideoUrl() {
                if (this.videoUrl.trim() === '') {
                    alert('Please enter a video URL');
                    return;
                }
                fetch('/download', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ sourceUrl: this.videoUrl })
                })
                    .then(response => response.json())
                    .then(data => {
                        this.serverOutput += new Date().toLocaleTimeString() + ': Starting download of ' + this.videoUrl + '\n';
                        this.videoUrl = '';
                    })
                    .catch(error => {
                        this.serverOutput += new Date().toLocaleTimeString() + ': Error for download of ' + this.videoUrl + ' - ' + error + '\n';
                        console.error('Error:', error);
                    });
            },
            formatDate(epochSeconds) {
                const date = new Date(epochSeconds * 1000);
                const options = { year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' };
                return date.toLocaleDateString(undefined, options);
            },
        },
        computed: {
            filteredFiles: function () {
                let filtered = this.files.filter(file => {
                    return file.filename.toLowerCase().includes(this.filter.toLowerCase());
                });

                return filtered.sort((a, b) => {
                    let modifier = 1;
                    if (this.currentSortDir === 'desc') modifier = -1;
                    if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
            }
        },
        mounted: function () {
            this.fetchFiles();
            const eventSource = new EventSource('/sse');
            const serverOutput = [];
            eventSource.onmessage = event => {
                serverOutput.push(new Date().toLocaleTimeString() + ': ' + event.data);
                if (serverOutput.length > 100) {
                    serverOutput.shift();
                }
                this.serverOutput = serverOutput.slice().reverse().join('\n');
                if (event.data.includes('Download finished')) {
                    console.log('Download finished*********');
                    this.fetchFiles();
                }
            };
        }
    });
</script>
<script src="/static/bootstrap.bundle.min.js?v=5.3.3"></script>
</body>

</html>
{% endraw %}