{% raw %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link href="/static/bootstrap.min.css?v=5.3.3" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <script src="/static/vue.min.js?v=2.6.14"></script>
</head>

<body class="bg-light p-2">
    <div id="app" v-cloak class="container">
        <div class="modal fade" id="thumbnailModal" tabindex="-1" aria-labelledby="thumbnailModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="thumbnailModalLabel">Thumbnail</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <img :src="currentThumbnail" alt="Thumbnail" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="input-group mb-2">
                    <a href="/">Go Home</a>
                </div>
                <input type="text" v-model="filter" placeholder="Filter files..."
                    class="mb-4 form-control">
            </div>

            <div class="col p-2">
                <h2 class="h6">Server Information</h2>
                <div v-text="serverOutput" class="form-control" style="white-space: pre-wrap; overflow-y: auto; height: 100px;"></div>
            </div>
        </div>

        <div>
            <div v-if="loading" class="card-body text-center">
                Loading...
                <div class="d-flex justify-content-center align-items-center" style="min-height: 140px;">
                    <div class="spinner-border text-secondary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            <div v-else>
                <div v-if="filteredFiles.length === 0" class="card-body text-center">No Files present</div>
                <div v-if="totalPages > 1" class="pagination mb-4">
                    <button @click="changePage(currentPage - 1)" :disabled="currentPage === 1" class="btn btn-secondary">Previous</button>
                    <span class="p-2">Page {{ currentPage }} of {{ totalPages }}</span>
                    <button @click="changePage(currentPage + 1)" :disabled="currentPage === totalPages" class="btn btn-secondary">Next</button>
                </div>
                <ul class="list-group list-group-flush">
                    <li v-for="file in filteredFiles" :key="file.filename" class="list-group-item mb-2 border-1">
                        <div class="d-flex align-items-center">
                            <img v-if="file.thumbnail" :src="file.thumbnail" alt="Thumbnail" class="me-3" style="width: 100px; height: auto; max-height: 200px" @click="openThumbnail(file.thumbnail)">
                            <img v-else src="/static/images/placeholder.png" alt="Placeholder" class="me-3" style="width: 100px; height: auto; max-height: 200px">
                            <div>
                                <div class="fw-bold h5"><a class="text-primary" :href="file.filename">{{ file.title }}</a></div>
                                <div class="text-muted">
                                    <p>Size: {{ file.filesize }}</p>
                                    <p>Created: {{ formatDate(file.created) }}</p>
                                </div>
                                <button class="btn btn-secondary btn-sm m-2" @click="generateThumbnail(file.filename)">Generate Thumbnail</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="text-center mt-4">
                <a href="#" @click.prevent="generateThumbnails(true)" class="btn btn-primary ms-2">Generate Thumbnails</a>
                <a href="#" @click.prevent="fetchFiles(true)" class="btn btn-primary ms-2">Reload files</a>

                <div v-if="serverResult" class="mt-2">
                    <p>Server Result: {{ serverResult }}</p>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="/static/library.js?v=1.0.0"></script>
    <script src="/static/bootstrap.bundle.min.js?v=5.3.3"></script>
</body>

</html>
{% endraw %}