{% extends "base.html" %}

{% block title %}HSServer - Library{% endblock %}

{% block content %}
    <div class="modal fade" id="thumbnailModal" tabindex="-1" aria-labelledby="thumbnailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="thumbnailModalLabel">Thumbnail</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <img :src="currentThumbnail" alt="Thumbnail" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    {% include "components/server_info.html" %}
    {% include "components/filter.html" %}

    <div>
        {% include "components/loading.html" %}
        <div v-else>
            <div v-if="filteredFiles.length === 0" class="card-body text-center">No Files present</div>
            {% include "components/paging.html" %}
            <ul class="list-group list-group-flush">
                <li v-for="file in filteredFiles" :key="file.filename" class="list-group-item mb-2 border-1">
                    <div class="d-flex align-items-center">
                        <img v-if="file.thumbnail" :src="file.thumbnail" alt="Thumbnail" class="me-3" style="width: 100px; height: auto; max-height: 200px" @click="openThumbnail(file.thumbnail)">
                        <img v-else src="/static/images/placeholder.png" alt="Placeholder" class="me-3" style="width: 100px; height: auto; max-height: 200px">
                        <div>
                            <div class="fw-bold h5"><a class="text-primary" :href="file.filename">{{ file.title }}</a></div>
                            <div class="text-muted">
                                <p>
                                    <i class="bi bi-asterisk"></i> {{ file.filesize }} <i class="bi bi-aspect-ratio"></i> {{ file.width }}x{{ file.height}}
                                    <span v-if="file.width > 1900 || file.height > 1900"><i class="bi bi-badge-hd-fill"></i></span>
                                    <span v-if="file.stereo"><i class="bi bi-badge-3d-fill"></i></span>
                                </p>
                                <p><i class="bi bi-calendar"></i> {{ formatDate(file.created) }} (Created)</p>
                                <p><i class="bi bi-clock"></i> {{ formatDuration(file.duration) }}</p>
                            </div>
                            <button class="btn btn-secondary btn-sm m-2" @click="generateThumbnail(file.filename)">Generate Thumbnail</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="text-center mt-4">
            <a href="#" @click.prevent="generateThumbnails(true)" class="btn btn-primary ms-2">Generate Thumbnails</a>
            <a href="#" @click.prevent="fetchFiles(true)" class="btn btn-primary ms-2">Reload files</a>

            <div v-if="serverResult" class="mt-2">
                <p>Server Result: {{ serverResult }}</p>
            </div>
        </div>
    </div>
    <script type="module" src="/static/library.js"></script>
{% endblock %}
