<div class="accordion mb-1" id="filters">
  <div class="accordion-item">
    <h5 class="accordion-header">
      <button class="accordion-button btn-sm p-1" type="button" data-bs-toggle="collapse"
              data-bs-target="#filter-collapse" aria-expanded="true" aria-controls="filter-collapse"
              @click="toggleFilterAccordion" :class="{collapsed: !settings.filterAccordionOpen}">
        Filter
      </button>
    </h5>
  </div>
  <div class="accordion-item">
    <div id="filter-collapse" class="accordion-collapse collapse" :class="{ show: settings.filterAccordionOpen }">
      <div class="accordion-body p-1">
        <div class="input-group d-flex justify-content-center align-items-center mb-2">
          <select v-model="selectedFolder" class="form-select form-control w-auto">
            <option value="">All Folders</option>
            <option v-for="folder in uniqueFolders" :key="folder" :value="folder">{{ folder }}</option>
          </select>
          <div class="input-group-append ms-2 d-flex align-items-center">
            <label for="pageSize" class="me-1">Items per page</label>
            <select v-model="settings.pageSize" id="pageSize" class="form-select form-control w-auto ml-2">
              <option :value="4">4</option>
              <option :value="8">8</option>
              <option :value="12">12</option>
              <option :value="24">24</option>
              <option :value="0">All</option>
            </select>
          </div>
          <div class="btn-group ms-2" role="group" aria-label="Layout Switch">
            <button type="button" class="btn btn-outline-secondary"
                    :class="{ active: settings.cardLayout }" @click="settings.cardLayout = true">
              <i class="bi bi-card-list"></i><span class="d-none d-lg-inline"> Card</span>
            </button>
            <button type="button" class="btn btn-outline-secondary"
                    :class="{ active: !settings.cardLayout }" @click="settings.cardLayout = false">
              <i class="bi bi-list-ul"></i><span class="d-none d-lg-inline"> Detail</span>
            </button>
          </div>
        </div>
        <div class="btn-group mb-3" role="group" aria-label="Filter by Resolution">
          <button type="button" class="btn btn-outline-secondary" :class="{ active: selectedResolution === '' }" @click="selectedResolution = ''">All Resolutions</button>
          <button type="button" class="btn btn-outline-secondary" :class="{ active: selectedResolution === 'HD' }" @click="selectedResolution = 'HD'">HD+</button>
          <button type="button" class="btn btn-outline-secondary" :class="{ active: selectedResolution === '4K' }" @click="selectedResolution = '4K'">4K+</button>
          <button type="button" class="btn btn-outline-secondary" :class="{ active: selectedResolution === '8K' }" @click="selectedResolution = '8K'">8K+</button>
        </div>
        <div class="form-floating mb-3 position-relative">
          <input id="filterInput" type="text" class="form-control pe-5"
                 placeholder="Filter files..." v-model="filter">
          <label for="filterInput" class="text-muted">Filter files...</label>
          <button v-if="filter" class="btn btn-outline-secondary bg-transparent border-0 position-absolute end-0 top-0 h-100" type="button" @click="filter = ''"><i class="bi bi-x"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

