<div v-else>
  <div v-if="filteredFiles.length === 0" class="card-body text-center">No Files present</div>
  <hs-paging></hs-paging>

  <div v-if="cardLayout" class="container">
    <div class="row">
      <div v-for="file in filteredFiles" :key="file.filename" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 position-relative">
        {% include "components/file_progress.html" %}
        {% include "components/video_infos_card.html" %}
      </div>
    </div>
  </div>
  <div v-else class="container">
    <div class="row">
      <div v-for="file in filteredFiles" :key="file.filename" class="col-12 p-0 mb-4 position-relative border border-1 rounded">
        {% include "components/file_progress.html" %}
        {% include "components/video_infos.html" %}
      </div>
    </div>
  </div>
</div>
  