<div class="modal fade" id="moveLibraryConfirmModal" tabindex="-1" aria-labelledby="moveLibraryConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="moveLibraryConfirmModalLabel">Move File to Library</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <span>Are you sure you want to move the file following to the library?</span>
        <div class="small alert alert-warning">{{ currentFileMove ? currentFileMove.split('/').pop() : '' }}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" @click="moveToLibrary(currentFileMove)" data-bs-dismiss="modal" class="btn btn-danger">Move</button>
      </div>
    </div>
  </div>
</div>
