<footer class="footer py-3">
    <div class="text-center">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="#" @click.prevent="confirmCleanup" class="btn btn-danger">Cleanup Files</a>
            <a href="#" @click.prevent="cacheClear" class="btn btn-warning">Clear all Caches</a>
            <a href="#" @click.prevent="generateThumbnails" class="btn btn-secondary">Generate Thumbnails</a>
            <a href="#" @click.prevent="fetchFiles" class="btn btn-secondary">Reload files</a>
        </div>
    </div>
</footer>