<div class="pagination mb-4 d-flex flex-column flex-md-row align-items-center justify-content-between">
    <ul v-if="totalPages > 1" class="pagination mb-0">
        <li class="page-item" :class="{ disabled: currentPage === 1 }">
            <a class="page-link" href="#" @click.prevent="changePage(1)">First</a>
        </li>
        <li class="page-item" :class="{ disabled: currentPage === 1 }">
            <a class="page-link" href="#" @click.prevent="changePage(currentPage - 1)">Previous</a>
        </li>
        <li v-if="pagesToShow[0] > 1" class="page-item disabled">
            <span class="page-link">...</span>
        </li>
        <li v-for="page in pagesToShow" :key="page" class="page-item" :class="{ active: currentPage === page }">
            <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
        </li>
        <li v-if="pagesToShow[pagesToShow.length - 1] < totalPages" class="page-item disabled">
            <span class="page-link">...</span>
        </li>
        <li class="page-item" :class="{ disabled: currentPage === totalPages }">
            <a class="page-link" href="#" @click.prevent="changePage(currentPage + 1)">Next</a>
        </li>
        <li class="page-item" :class="{ disabled: currentPage === totalPages }">
            <a class="page-link" href="#" @click.prevent="changePage(totalPages)">Last</a>
        </li>
    </ul>
    <span v-if="totalPages > 1" class="p-2">Page {{ currentPage }} / {{ totalPages }}</span>
    <span class="p-2">Items total {{ totalItems }} - size {{ formattedTotalSize }} </span>
</div>