<div class="modal fade" id="thumbnailModal" tabindex="-1">
  <div class="modal-dialog modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="thumbnailModalLabel">Thumbnail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <img :src="currentFile?.thumbnail" alt="Thumbnail" class="img-fluid">
      </div>
    </div>
  </div>
</div>
