<div class="d-flex align-items-start flex-column flex-md-row p-0">
    <div class="thumbnail-wrapper me-2 w-100 w-md-auto cursor-pointer" @click="showSimilar(file)">
        <video v-if="settings.showVideoPreview && file.preview" :poster="file.thumbnail" :src="file.preview" class="thumbnail"
               @mouseover="startPreview(file, $event)" @mouseleave="stopPreview(file, $event)"
               preload="none" loop disablePictureInPicture></video>
        <img v-else-if="file.thumbnail" :src="file.thumbnail" class="thumbnail" />
        <span v-if="file.showPreview" class="video-preview-indicator text-primary fs-3">
            <i class="bi bi-play-circle-fill"></i>
        </span>
        <div v-if="!file.partial" class="icon-overlay position-absolute top-0 end-0 text-primary fs-3 lh-1 rounded" data-bs-toggle="tooltip" title="Toggle Favorite">
            <span @click.stop.prevent="toggleFavorite(file)"><i v-if="file.favorite" class="link-warning bi bi-star-fill"></i><i v-else class="bi bi-star"></i></span>
        </div>
    </div>
    <div class="w-100 d-flex flex-column align-items-start pt-3 p-2 flex-grow-1">
        <div class="fw-bold h5 text-truncate card-title">
            <button v-if="!file.unknown" class="btn btn-outline-success btn-sm" @click="playVideo(file)">
                <i class="bi bi-play-fill"></i>&nbsp;Play
            </button>
            <a class="video-link text-decoration-none" :href="file.filename">
                <i class="bi bi-link-45deg"></i>&nbsp;{{ file.title }}
            </a>
        </div>
        <div class="text-muted">
            <p>
                <span v-if="file.filesize"><i class="bi bi-asterisk"></i> {{ formatFileSize(file.filesize) }}</span> <span v-if="file.width && file.height"><i class="bi bi-aspect-ratio"></i> {{ file.width }}x{{ file.height}}</span>
                <span v-if="file.width && (file.width > 1900 || file.height > 1900)"><i class="bi bi-badge-hd-fill"></i></span>
                <span v-if="file.width && (file.width >= 8000 || file.height >= 8000)"><i class="bi bi-badge-8k-fill"></i></span>
                <span v-else-if="file.width && (file.width > 3800 || file.height > 3800)"><i class="bi bi-badge-4k-fill"></i></span>
                <span v-if="file.stereo"><i class="bi bi-badge-3d-fill"></i></span>
            </p>
            <p><i class="bi bi-calendar"></i> {{ formatDate(file.created) }} (Created)</p>
            <p v-if="file.download_date"><i class="bi bi-calendar-check"></i> {{ formatDate(file.download_date) }} (Downloaded)</p>
            <p v-if="file.duration"><i class="bi bi-clock"></i> {{ formatDuration(file.duration) }}</p>
            <p v-if="file.unknown"><span v-if="file.mimetype"><i class="bi bi-braces"></i> {{ file.mimetype }}</span></p>
            <p v-if="file.folder"><i class="bi bi-folder"></i> {{ file.folder }}</p>
        </div>
        <div class="item-function align-self-end w-100 text-end">
            <div v-if="file.may_exist" @click.stop.prevent="showDuplicateInfo(file)" class="exists d-inline-block p-2 mt-2 w-100 text-center text-bg-warning rounded" style="word-break: break-word">Possible duplicate file</div>
            <div v-if="file.partial" class="partial d-inline-block p-2 mt-2 w-100 text-center text-bg-danger rounded">Partial file - download maybe in progress<span v-if="file.failed"> - failed</span></div>
            <div v-if="file.unknown" class="partial d-inline-block p-2 mt-2 w-100 text-center text-bg-warning rounded">Not a Video File</div>
            <a v-if="file.url" class="btn btn-sm m-1" :href="file.url" target="_blank">Original Link</a>
            <button v-if="!file.partial && !file.unknown" class="btn btn-outline-secondary btn-sm m-1" @click="generateThumbnail(file.filename)">Generate Thumbnail</button>
            <button v-if="!file.partial && !file.unknown" class="btn btn-outline-warning btn-sm m-1" @click="confirmRenameFile(file)">Rename</button>
            <button v-if="file.url" class="btn btn-outline-secondary btn-sm m-1" @click="redownload(file)">Download again (id={{ file.download_id }})</button>
            <button @click="confirmDeleteFile(file.filename)" class="btn btn-outline-danger btn-sm m-1">Delete</button>
            <button @click="confirmMoveFile(file)" class="btn btn-outline-danger btn-sm">Move To Folder</button>
        </div>
    </div>
</div>