<div class="card h-100 d-flex flex-column">
    <div class="thumbnail-wrapper position-relative w-100 cursor-pointer" @click="openThumbnail(file.thumbnail)">
        
        <video v-if="file.preview" :poster="file.thumbnail" :src="file.preview" class="card-img-top" preload="none" @mousover="(event) => event.target.play()" @mouseleave="(event) => event.target.pause()" loop disablePictureInPicture></video>
        <img v-else :src="file.thumbnail" class="card-img-top" />
        
        <span v-if="file.showPreview" class="position-absolute top-0 end-0 p-2 text-primary fs-3">
            <i class="bi bi-play-circle-fill"></i>
        </span>
        <span v-if="file.partial" class="position-absolute text-danger h3" style="left: .5rem; top: 1rem; text-shadow: 2px 2px rgba(0, 0, 0, .3);"><i class="bi bi-exclamation-circle-fill partial-icon"></i>  Partial</span>
        <span v-if="file.may_exist" :title="'Possible duplicate file: ' + file.may_exist" class="position-absolute text-warning h3" style="left: 0.5rem; top: 3rem; text-shadow: 2px 2px rgba(0, 0, 0, .3);"><i class="bi bi-exclamation-triangle-fill exist-icon"></i> Duplicate?</span>
        <div class="icon-overlay position-absolute bottom-0 end-0 pe-1 ps-1 text-secondary fs-3 lh-1 rounded">
            <span v-if="file.width && (file.width > 1900 || file.height > 1900)"><i class="bi bi-badge-hd-fill"></i></span>
            <span v-if="file.width && (file.width >= 8000 || file.height >= 8000)"><i class="bi bi-badge-8k-fill"></i></span>
            <span v-else-if="file.width && (file.width > 3800 || file.height > 3800)"><i class="bi bi-badge-4k-fill"></i></span>
            <span v-if="file.stereo"><i class="bi bi-badge-3d-fill"></i></span>
        </div>
    </div>
    <div class="card-body flex-grow-1">
        <h5 class="card-title text-truncate" data-bs-toggle="tooltip" :title="file.title">
            <a class="video-link text-decoration-none" :href="file.filename">
                <i class="bi bi-link-45deg"></i> {{ file.title }}
            </a>
        </h5>
        <p class="mb-0">
            <span v-if="file.duration"><i class="bi bi-clock"></i> {{ formatDuration(file.duration) }}</span>
            <span v-if="file.width && file.height"><i class="bi bi-aspect-ratio"></i> {{ file.width }}x{{ file.height}}</span>
        </p>
        <p v-if="file.folder" class="mb-0"><i class="bi bi-folder"></i> {{ file.folder }}</p>
    </div>
    <div class="card-footer p-2">
        <button class="btn btn-outline-success btn-sm" @click="playVideo(file.filename)">
            <i class="bi bi-play-fill"></i> Play
        </button>
        <button v-if="!file.partial" class="btn btn-outline-secondary btn-sm m-1" @click="generateThumbnail(file.filename)">Generate Thumbnail</button>
        {% if option_move %}
        <button v-if="!file.partial" class="btn btn-outline-danger btn-sm m-1" @click="confirmMoveToLibrary(file.filename)">Move To Library</button>
        <button @click="confirmDeleteFile(file.filename)" class="btn btn-outline-danger btn-sm m-1">Delete</button>
        {% endif %}
    </div>
</div>
