# copy this to /etc/systemd/system/heresphere.service
# then run `sudo systemctl enable heresphere.service`
# reload systemd with `sudo systemctl daemon-reload`
# and `sudo systemctl start heresphere.service`

[Unit]
Description=Heresphere Service
After=network.target

[Service]
#User=your_username
WorkingDirectory=/opt/heresphere
ExecStart=/opt/heresphere/linux/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
