# copy this to /etc/systemd/system/hereshpere.service
# then run `sudo systemctl enable hereshpere.service`
# reload systemd with `sudo systemctl daemon-reload`
# and `sudo systemctl start hereshpere.service`

[Unit]
Description=Hereshpere Service
After=network.target

[Service]
#User=your_username
WorkingDirectory=/opt/hereshpere
ExecStart=./linux/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
